@use '../1-base/variables' as var;

.btn{
    display: none;

    &--delete-all{
        display: inline-block;
        width: max-content;
        font-family: inherit;
        font-size: 1.5rem;
        margin: 1rem auto;
        padding: .8rem 1rem;
        outline: none;
        color: white;
        background-color: var.$color-dark--1;
        cursor: pointer;
        transition: all .2s;

        &:hover{
            background-color: rgba(231, 24, 24, 0.753);
            text-transform: uppercase;
            font-weight: 600;
        }
    }
}

