@use '../1-base/variables' as var;

.workout{
    
    &__delete{
        content: "";
        position: absolute;
        top: 1%;
        right: 4%;
        font-size: 2rem;
    }
    
    &__item{
        position: relative;
        background-color: var.$color-dark--2;
        height: 22%;
        margin-bottom: 1.5rem;
        border-radius: 0.4rem;
    }

    &__card{
        padding: 1.75rem 2.75rem;
        min-height: 10rem;

        &:hover{
            cursor: pointer;
        }
    }
    
    &__title{
        font-size: 1.7rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
    }

    &__data{
        display: flex;
        justify-content: space-between;
    }

    &__info{
        font-size: 1.5rem;

        &__unit{
            font-size: 1.2rem;
            text-transform: uppercase;
            color: var.$color-light--1;
            font-weight: bold;
        }
    }

    &__card--cycling{
        border-left: 4px solid var.$color-brand--1;
    }

    &__card--running{
        border-left: 4px solid var.$color-brand--2;
    }
}